/* Menu de navegação fixo no topo da página */
#menu {
    vertical-align: middle;
    position: fixed; /* Fixa o menu no topo */
    top: 0; /* Alinha o menu ao topo da página */
    left: 0; /* Alinha o menu à esquerda da página */
    width: 100%; /* Largura total da página */
    text-align: right; /* Alinha o texto à direita */
    background-color: white; /* Adicione o fundo branco a faixa */
}

/* Estilo para o logotipo fixo no topo */
#logo {
    margin-left: 20px;
    position: fixed; /* Fixa o logotipo na posição */
    top: 20px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
    z-index: 9899; /* Garante que o logotipo esteja sobre outros elementos */
    cursor: pointer;
}

/* Estilo para itens da lista no menu */
#menu ul li {
    vertical-align: middle;
    margin: 0; /* Remove margem */
    display: inline-block; /* Exibe itens em linha */
    padding: 0px 20px 0px 0px; /* Espaçamento interno */
    font-size: 30px; /* Tamanho da fonte */
}

#btn1 {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    vertical-align: middle;
    font-family: "Inter", serif;
    font-size: 15px;
    cursor: pointer;
}

#btn2 {
    border: 0;
    background-color: transparent;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    vertical-align: middle;
    font-family: "Inter", serif;
    font-size: 15px;
    cursor: pointer;
}

#btn3 {
    background-color: white;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    vertical-align: middle;
    font-family: "Inter", serif;
    font-size: 15px;
    cursor: pointer;
}

#btn4 {
    background-color: black;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    vertical-align: middle;
    font-family: "Inter", serif;
    font-size: 15px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    height: 60%;
    color: black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.content h1 {
    font-family: Alatsi;
    font-weight: 500;
    font-size: 70px;
}

.content p {
    font-family: "Inter", serif;
    font-size: 35px;
    font-weight: 400;
}

.content #btn4 {
    background-color: black;
    color: white;
    width: 240px;
    height: 66px;
    border-radius: 8px;
    vertical-align: middle;
    font-size: 34px;
}

footer {
    display: none;
    list-style: none;
}


/*responsividade*/
@media (min-width: 805px) and (max-width: 1024px){
    body {
        background-image: url('../img/fundo.png'); /* Substitua pelo caminho da sua imagem */
        background-attachment: fixed; /* Mantém a imagem fixa no fundo */
    }

    .content h1 {
        font-size: 70px;
    }
    
    .content p {
        font-size: 30px;
    }
    
    .content #btn4 {
        background-color: black;
        color: white;
        width: 240px;
        height: 66px;
        border-radius: 8px;
        vertical-align: middle;
        font-size: 34px;
    }

    #menu ul li {
        padding: 0px 12px 0px 0px; /* Espaçamento interno */
    }
}

@media (max-width: 806px) {
    #menu #btn4 {
        display: none;
    }

    #switch{
        display: none;
    }
    
    #btn2 {
        display: none;
    }

    #btn1, #btn3 {
        width: 89px;
    }

    .content {
        width: 70%;
        margin-top: 0;
    }
    
    .content h1 {
        font-size: 45px;
    }
    
    .content p {
        font-family: "Inter", serif;
        font-size: 25px;
        font-weight: 400;
    }
    
    .content #btn4 {
        width: 230px;
        height: 66px;
        font-size: 30px;
    }

    #logo {
        left: 0px; /* Distância da esquerda */
        width: 140px;
    }

    #menu ul li {
        padding: 0px 5px 0px 0px; /* Espaçamento interno */
    }

    body {
        display: flex;
        flex-direction: column; /* Torna o conteúdo vertical */
        min-height: 100vh; /* Garante que o body tenha altura total */
        margin: 0;
    }
    
    .content {
        flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
        margin-top: 20%;
    }
    
    footer {
        width: 60%;
        margin-bottom: 10%;
        display: block; /* Mostra o footer */
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgb(39, 38, 38);

        font-size: 20px;
    }
     footer a {
        text-decoration: none;
        color: black;
        cursor: pointer;
     }
}